body{
    background-color: #a0346e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    color: bisque;
    margin: 90px;
}

#validacion-container{
    width: 500px;
    margin: 100px auto;
    padding: 20px;
}

.success, .error{
    padding: 10px;
}

.success{
    background-color: rgb(102, 255, 140);
}
.error{
    background-color: rgb(255, 144, 144);
}

input{
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-size: 28px;
    box-sizing: border-box;
}